body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-image: linear-gradient(50deg,#ffee00, #555);
    position: sticky;
    top: 0;
    z-index: 10;
}
input[type="search"]{
    border: none;
}
a{
    color: whitesmoke;
}
.modif{
    width: 100%;
    background: url(/images/html1.jpg) no-repeat;
    background-size: cover;
    text-align:center;
    height:400px;
}
.modif a{
    display:block;
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.card-body{
    background-image: linear-gradient(-50deg,#ffee00, #555);
}
.card-body a:hover{
    text-decoration: none;
}
